In [1]:
import pandas as pd
import csv

In [8]:
q1_data = pd.read_csv("CSVFILES/data-Q1.csv")
q2_data = pd.read_csv("CSVFILES/data-Q2.csv")
q3_data = pd.read_csv("CSVFILES/data-Q3.csv")
q4_data = pd.read_csv("CSVFILES/data-Q4.csv")

In [9]:
q1_data.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

In [12]:
full_year_data = pd.concat([q1_data, q2_data,q3_data,q4_data], axis=0,ignore_index = True)
full_year_data

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0
5,1/6/2018,4294,9479,253624,9,2
6,1/7/2018,5640,9387,253640,41,4
7,1/8/2018,15820,31294,253661,45,4
8,1/9/2018,25090,50981,253690,112,17
9,1/10/2018,28252,50218,253720,142,18
10,1/11/2018,33961,66584,253757,244,15
11,1/12/2018,22252,46403,253786,152,16
12,1/13/2018,17758,30418,253809,355,31
13,1/14/2018,12394,32949,253827,183,9
14,1/15/2018,17637,41770,253857,150,8
15,1/16/2018,30278,60053,253895,189,13
16,1/17/2018,19010,36319,253921,52,12
17,1/18/2018,27662,52573,253952,92,18
18,1/19/2018,30525,50322,253983,216,15
19,1/20/2018,28507,59336,254025,1044,41
20,1/21/2018,27908,61571,254092,1013,26
21,1/22/2018,36864,68638,254144,345,25
22,1/23/2018,28796,63693,254191,179,19
23,1/24/2018,36078,69596,254236,232,32
24,1/25/2018,31147,51927,254263,181,16
25,1/26/2018,33073,61857,254301,313,23
26,1/27/2018,34348,70146,254368,1415,41
27,1/28/2018,20100,38221,254415,334,22
28,1/29/2018,36799,68868,254466,274,33
29,1/30/2018,27996,59260,254492,114,15
...,...,...,...,...,...,...
335,12/2/18,18418,26501,296584,554,11
336,12/3/18,53974,85524,296664,1308,62
337,12/4/18,49058,71843,296708,867,27
338,12/5/18,46779,67536,296753,814,38
339,12/6/18,46543,66885,296798,910,40
340,12/7/18,43841,63353,296843,948,52
341,12/8/18,29909,44552,296867,1271,46
342,12/9/18,27547,40886,296897,1064,23
343,12/10/18,43358,62699,296938,762,25
344,12/11/18,47335,68321,296974,823,20
345,12/12/18,47717,68600,297005,748,28
346,12/13/18,40736,57295,297042,593,14
347,12/14/18,44775,66633,297078,1137,44
348,12/15/18,36423,57244,297119,1902,45
349,12/16/18,9835,13599,297131,203,4
350,12/17/18,45382,66449,297173,909,32
351,12/18/18,41703,58360,297205,656,22
352,12/19/18,44096,63165,297238,877,22
353,12/20/18,34026,48713,297269,751,20
354,12/21/18,23996,34450,297290,481,24
355,12/22/18,24870,36653,297327,1088,25
356,12/23/18,22230,35921,297355,1298,37
357,12/24/18,18990,27246,297387,681,18
358,12/25/18,11177,21483,297426,1080,38
359,12/26/18,25358,39176,297487,1118,49
360,12/27/18,31169,48943,297527,1510,51
361,12/28/18,12039,17576,297555,334,25
362,12/29/18,29037,54116,297622,2677,104
363,12/30/18,22536,37741,297682,1562,51
364,12/31/18,18936,29794,297748,962,31

In [13]:
full_year_data.to_csv("CSVFILES/full_year_data.csv")

In [5]:
jan = pd.read_csv("CSVFILES/2018-january-citibike.csv")
feb = pd.read_csv("CSVFILES/2018-february-citibike.csv")
mar = pd.read_csv("CSVFILES/2018-march-citibike.csv")
apr = pd.read_csv("CSVFILES/2018-april-citibike.csv")
may = pd.read_csv("CSVFILES/2018-may-citibike.csv")
jun = pd.read_csv("CSVFILES/2018-june-citibike.csv")
jul = pd.read_csv("CSVFILES/2018-july-citibike.csv")
aug = pd.read_csv("CSVFILES/2018-august-citibike.csv")
sep = pd.read_csv("CSVFILES/2018-september-citibike.csv")
october = pd.read_csv("CSVFILES/2018-october-citibike.csv")
nov = pd.read_csv("CSVFILES/2018-november-citibike.csv")
dec = pd.read_csv("CSVFILES/2018-december-citibike.csv")

In [7]:
full_citibike_data = pd.concat([jan,feb,mar,apr,may,jun,jul,aug,sep,october,nov,dec], axis=0,ignore_index = True)

In [8]:
full_citibike_data.count()

tripduration               17548339
starttime                  17548339
stoptime                   17548339
start station id           17545842
start station name         17545842
start station latitude     17548339
start station longitude    17548339
end station id             17545842
end station name           17545842
end station latitude       17548339
end station longitude      17548339
bikeid                     17548339
usertype                   17548339
birth year                 17548339
gender                     17548339
dtype: int64

In [9]:
full_citibike_data = full_citibike_data.dropna(how='any')
full_citibike_data.count()

tripduration               17545842
starttime                  17545842
stoptime                   17545842
start station id           17545842
start station name         17545842
start station latitude     17545842
start station longitude    17545842
end station id             17545842
end station name           17545842
end station latitude       17545842
end station longitude      17545842
bikeid                     17545842
usertype                   17545842
birth year                 17545842
gender                     17545842
dtype: int64

In [10]:
full_citibike_data.to_csv("CSVFILES/full_citibike_data.csv")